.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}
    
.horizontal-scrollable > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}
/* Decorations */
    
.col-xs-4 {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 18px;
}
    
.col-xs-4:nth-child(2n+1) {
    background: green;
}
    
.col-xs-4:nth-child(2n+2) {
    background: black;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: white !important;
}

.bg-dark {
    color: white;
}

.bg-secondary {
    color: white;
}

.navbar-dark .navbar-nav .nav-link .nav-item{
    color: rgb(255, 255, 255) !important;
}


.margin {
    margin: 60px
}


.light {
    color: #868B94;
}

.main {
    font-size: 4vw !important;
}   

#idea{
    margin-bottom: 10px;
}
